<p id="notice"><%= notice %></p>

<p>
  <strong>Sucursales:</strong>
  <%= @tienda.sucursales %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @tienda.direccion %>
</p>

<p>
  <strong>Articulo:</strong>
  <%= @tienda.articulo %>
</p>

<%= link_to 'Edit', edit_tienda_path(@tienda) %> |
<%= link_to 'Back', tiendas_path %>
